/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  font-family: "Montserrat";
  color: #555555;
}

#navbar {
  float: right;
}

.navbar {
  border: 0;
  margin-bottom: 0;
  width: 100%;
  z-index: 3;
  background: transparent;
  font-size: 16px;
}
.navbar-fixed {
  position: absolute;
  top: 0;
  left: 0;
}
.navbar-toggle {
  border-color: #fff;
  margin-top: 24.5px;
}
.navbar-toggle > span {
  background-color: #fff;
}
.navbar-nav > li > a {
  color: #fff;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  background-color: transparent;
}

.next,
.prev {
  font-size: 20px;
  border: 3px solid #fff;
  color: #fff;
  border-radius: 25px;
  width: 50px;
  height: 50px;
}

.next:hover,
.prev:hover,
.next:focus,
.prev:focus {
  color: #fff;
}

.next {
  margin-right: 20px;
  padding-left: 11px;
  padding-top: 9px;
}
.prev {
  padding-top: 10px;
  margin-left: 20px;
  padding-left: 10px;
}
#slides {
  height: 100vh;
}
.sk-cube-grid {
  width: 40px;
  height: 40px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #5bb947;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%,
  70%,
  100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}

.floater {
  color: #fff;
  font-size: 20px;
  height: 100vh;
  position: relative;
}

.floater-content {
  position: relative;
  top: 50%;
  margin-top: -150px;
  width: 100%;
  left: 50%;
  margin-left: -50%;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0 10px;
  text-align: center;
  display: table;
}
.floater-content > p {
  display: table-cell;
  vertical-align: middle;
  text-transform: uppercase;
  margin: 0;
}
.slide-intro {
  overflow-x: hidden;
  margin: 75px 0 25px;
}
.easing {
  padding: 50px;
  transition: 1s transform, 2s opacity;
  color: #fff;
  text-align: center;
  opacity: 0;
  transform: scale(0.5);
}
.easing h1 {
  margin-top: 10px;
}
.easing > div {
  padding: 20px;
}
.ease-right {
  background-color: #77787c;
}
.ease-left {
  background-color: #5bb947;
}
.title {
  margin-bottom: 50px;
  display: inline-block;
  border-bottom: 3px solid #5bb947;
  padding-bottom: 10px;
}
#work {
  margin-bottom: 50px;
}
.flipUp {
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  /*cursor: pointer;*/
}
.flipImg img {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.flipText {
  background-color: rgba(0, 0, 0, 0.6);
  margin-top: 100%;
  transition: 0.7s margin-top ease;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 30px;
  color: #fff;
  z-index: 2;
  width: 100%;
}
.flipText h1 {
  margin-top: 0;
}
.flipUp:hover .flipText {
  margin-top: 0;
}
#testimonials {
  padding-bottom: 50px;
}
.test {
  padding: 30px;
  background-color: #efefef;
  margin-bottom: 30px;
}
.test h3 {
  margin-top: 10px;
}
.test-left {
  border-left: 3px solid #5bb947;
}
.test-right {
  border-right: 3px solid #5bb947;
  text-align: right;
}
#profiles {
  /*background: #77787C;*/
  margin-bottom: 50px;
  padding: 60px 0 80px;
  background-image: url("../img/photography.png");
  /*background-color: tomato;*/
}
#profiles:before,
#profiles:after {
  display: block;
  width: 100%;
  content: "";
  height: 21px;
  position: absolute;
}
#profiles:after {
  background-image: url("../img/wave.png");
  bottom: 0;
}
#profiles:before {
  background-image: url("../img/wave_inv.png");
  top: 0;
}
.user_profile {
  text-align: center;
  transition: 0.3s transform;
  /*color: #fff;*/
  margin-bottom: 30px;
}
.user_profile:hover {
  transform: scale(1.2);
  /*transform: translateY(-10px);*/
}
.user_profile img {
  width: 100px;
  border-radius: 50px;
  border: 1px solid #77787c;
}
.user_profile p {
  margin-top: 10px;
}
#maps {
  margin-bottom: 50px;
}
#maps iframe {
  width: 100% !important;
}
.map-container {
  width: 100%;
}
.map-container > div {
  /*max-width: 800px;*/
  /*margin: 0 auto;*/
}
#map-canvas {
  height: 400px;
}
#footer {
  background-color: #555555;
  /*height: 400px;*/
  padding-bottom: 30px;
}
#footer h3 {
  color: #fff;
  margin-bottom: 20px;
}
.social_icons {
  list-style: none;
  padding: 0;
  margin: 30px 0;
}
.social_icons li img {
  width: 32px;
}
.social_icons li {
  display: inline-block;
  margin-right: 10px;
  transition: 0.8s transform;
  margin-bottom: 10px;
  /*cursor: pointer;*/
}
.social_icons li:hover {
  transform: rotate(360deg);
  /*transform: translateY(-10px);*/
}
.info {
  color: #fff;
  /*padding: 0 30px*/
}
.info address {
  border-left: 3px solid #5bb947;
  padding-left: 10px;
}
.info h3 {
  /*color: #;*/
}
.contact {
  list-style: none;
  padding: 0;
}
.contact li {
  padding: 5px 0;
}
.contact li a {
  color: #fff;
  display: block;
  text-decoration: none;
}

#to-top {
  width: 48px;
  height: 48px;
  opacity: 0;
  position: fixed;
  z-index: 3;
  bottom: 20px;
  right: 20px;
  background-color: #5bb947;
  border-radius: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  transition: 0.5s opacity;
}

#credits {
  color: #ccc;
}
#credits hr {
  border-color: #444;
}
.author {
  font-size: 13px;
}

.top-offset {
  margin-top: 30px;
}

.bottom-offset {
  margin-bottom: 30px;
}
#portfolio {
  /*background-color: #EFA1FF;*/
  padding: 30px 0;
}
.portfolio_item {
  margin-bottom: 30px;
  overflow: hidden;
}
.portfolio_item img {
  width: 100%;
  transition: 0.5s all ease;
}

.portfolio_item .image {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.portfolio_item .image {
}
.portfolio_item .image:hover img {
  transform: scale(1.1);
}
.portfolio_item .image:hover:after {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  content: "";
  display: block;
  z-index: 3;
  background-color: rgba(91, 185, 71, 0.6);
  position: absolute;
}

#services h1 {
  margin-bottom: 30px;
}
#services .tile {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  margin-bottom: 20px;
}
#services .tile:hover {
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
}

#services .tile.square {
  border-radius: 4px;
  border-bottom: 3px solid #c44044;
  padding: 10px 20px;
}
#services .tile h3 {
  margin-top: 10px;
}
#contact h1 {
  margin-bottom: 30px;
}
#contact_form {
  /*border: 1px solid #ccc;*/
  /*padding: 30px 40px;*/
  border-radius: 4px;
  margin-bottom: 30px;
}
#contact_form .form-group:last-child {
  margin-bottom: 0;
}
#contact_form input:focus,
#contact_form textarea:focus {
  box-shadow: inherit;
}

#about h1 {
  margin-bottom: 30px;
}
#about {
  margin-bottom: 60px;
}

.msg {
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
}

.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #5bb947;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 25px;
  }
  .flipText {
    display: none; /* invalidates two css rules below */
  }
  .flipText h1,
  .test h3 {
    font-size: 18px;
  }
  .flipText p,
  .test p {
    font-size: 13px;
  }
  .slide-intro {
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .easing {
    padding: 0;
  }
  .test {
    padding: 10px 20px;
  }
  #testimonials {
    padding-bottom: 10px;
  }
  #profiles {
    margin-bottom: 10px;
  }
  .floater-content {
    height: 200px;
    margin-top: -100px;
  }
}
@media (max-width: 767px) {
  .navbar-collapse {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .navbar-default .navbar-nav li > a {
    color: #fff;
  }
  .navbar-default .navbar-nav li > a:focus,
  .navbar-default .navbar-nav li > a:hover {
    color: #5bb947;
  }
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 31px;
    padding-bottom: 31px;
  }
  .navbar-nav {
    margin-right: 20px;
  }
  #logo {
    margin-left: 20px;
  }
  .floater {
    font-size: 40px;
  }
  .floater-content {
    width: 600px;
    margin-left: -300px;
  }
  .flipUp {
    height: 350px;
  }
  .social_icons li img {
    width: 48px;
  }
  #to-top {
    padding: 20px 22px;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    font-size: 20px;
  }
}

@media (max-width: 991px) {
  #footer {
    padding-top: 10px;
  }
}
#slides {
  position: relative;
}
#slides .slides-container {
  display: none;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
}
.slides-navigation a.prev {
  left: 0;
}
.slides-navigation a.next {
  right: 0;
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 10px;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  border: 2px solid #222;
  border-radius: 15px;
  width: 10px;
  height: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
  margin: 2px;
  overflow: hidden;
  text-indent: -100%;
}
.slides-pagination a.current {
  background: #222;
}
